<%= for chunk <- Enum.chunk(@page.entries, 3, 3, []) do %>
    <div class="row">
        <%= for product <- chunk do %>
            <div class="col-sm-6 col-md-4">
                <a href="<%= product_path(@conn, :show, product["_id"]) %>">
                    <div class="thumbnail">
                        <img src="<%= image_src(product) %>"
                             alt="<%= product["product_name"] %>" >
                        <div class="caption">
                            <h3><%= product["product_name"] %></h3>
                        </div>
                    </div>
                </a>
            </div>
        <% end %>
    </div>
<% end %>

<nav>
    <ul class="pager">
        <%= if @page.page != 1 do %>
            <li class="previous">
                <a href="<%= prev_page(@conn, @page) %>">
                    <span aria-hidden="true">&larr;</span> Older
                </a>
            </li>
        <% end %>
        <%= if @page.page != @page.last_page do %>
            <li class="next">
                <a href="<%= next_page(@conn, @page) %>">
                    Newer <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        <% end %>
    </ul>
</nav>
