<div class="row">
    <h3>
        <%= @product["product_name"] %> <%= @product["quantity"] %> <small><%= @product["brands"] %></small>
    </h3>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Ingredients</div>
            <div class="table-responsive">
                <template id="ingredient_tmpl">
                    <tr>
                        <td class="remove-row col-md-1">
                            <button class="btn btn-link btn-xs remove-ingredient">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                        </td>
                        <td class="name">
                            <input class="prod-search" autocomplete="off" type="text"/>
                        </td>
                        <td class="quantity"></td>
                        <td class="energy_per_100"></td>
                        <td class="energy_total"></td>
                    </tr>
                </template>
                <table class="table table-striped">
                    <tr>
                        <th><!-- Action --></th>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Energy / 100</th>
                        <th>Energy</th>
                    </tr>
                    <%= for ingredient <- ingredients(@product) do %>
                        <tr>
                            <td class="remove-row col-md-1">
                                <button class="btn btn-link btn-xs remove-ingredient">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </button>
                            </td>
                            <td class="name"><%= ingredient_name(ingredient) %></td>
                            <td class="quantity"><%= quantity(ingredient) %></td>
                            <td class="energy_per_100"><%= energy(ingredient, 100) %></td>
                            <td class="energy_total">
                                <!-- empty: should be calculated on page load  -->
                            </td>
                        </tr>
                    <% end %>
                    <tr>
                        <td class="add-row col-md-1">
                            <button class="btn btn-link btn-xs add-ingredient">
                                <i class="glyphicon glyphicon-plus"></i>
                            </button>
                        </td>
                        <!-- Name -->
                        <td></td>
                        <!-- Quantity -->
                        <td></td>
                        <!-- Energy per 100 -->
                        <td></td>
                        <!-- Energy total -->
                        <td></td>
                    </tr>
                    <tr><!-- Total -->
                        <!-- Action -->
                        <td></td>
                        <!-- Name -->
                        <td>Total</td>
                        <!-- Quantity -->
                        <td></td>
                        <!-- Energy per 100 -->
                        <td></td>
                        <!-- Energy total -->
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
		<div class="thumbnail">
			<img src="<%= image_src(@product) %>"
				 alt="<%= @product["product_name"] %>" >
		</div>
	</div>
</div>
